/* The navigation Bar*/
.navbar{
    overflow:hidden;
    background-color: #333;
    position: fixed; /* set the navigation to fixed position*/
    top:0; /* position the navbar at the top of the page*/
    width: 100%; /* Full width*/
}
/* Main Content*/
.main{
    margin-top: 10px; /* Add a top margin to avoid content overlay*/
}